
.main-mention {

  &__landing-contact {
    background-image: url("../images/background-forest.svg");
    background-repeat: no-repeat;
    background-position-x: -990px;
    background-size: cover;
    height: 135vh;

    &__title {
      font-family: "Loos Bold", Arial, Helvetica, sans-serif;
      font-size: 3em;
      color: #004F32;
      text-align: center;
      line-height: 1.125em;
      padding-top: 4em;
    }

    &__logo {
      max-width: 12em;
      margin: 0 auto;
      margin-top: 4em;
    }

    &__div {
      text-align: center;
      margin-top: 3em;
    }
  }

  &__instruction-form {
    font-family: "Loos Normal", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 2em 0 3em 0;
    text-align: center;
    color: white;
    max-width: 80%;
    margin: 0 auto;
  }

  &__form-container {
    &__form {
      padding: 0 2em;
      display: flex;
      gap: 1em;
      flex-direction: column;
      margin: 0 auto;

      &__label-name, &__label-text, &__label-mail {
        display: inline-block;
        font-family: "Loos Light", Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        color: white;
        transition: 300ms ease-in-out;
      }

      &__label-name, &__label-mail {
        transform: translate(1em, -2.5em);
      }

      &__label-text {
        transform: translate(1em, -11em);
      }

      &__input-name, &__input-mail, &__input-text {
        font-family: "Loos Light", Arial, Helvetica, sans-serif;
        background-color: transparent;
        border: 3px solid white;
        font-size: 1.2em;
        color: white;

        &::placeholder {
          opacity: 0;
          color: white;
        }

        &:focus {
          &::placeholder {
            opacity: .7;
          }
        }
      }

      &__input-name:focus, &__input-mail:focus, &__input-text:focus {
      }

      &__input-name, &__input-mail {
        border-radius: 10em;
        padding: 1em 2em;
        width: calc(100% - 4em - 6px);
      }

      &__input-name {
        &:focus {
          & ~ .main-mention__form-container__form__label-name {
            transform: translate(1em, -5em);
          }
        }

        &:not(:placeholder-shown) {
          & ~ .main-mention__form-container__form__label-name {
            transform: translate(1em, -5em);

            &:not(:placeholder-shown) {
              & ~ .main-mention__form-container__form__label-name {
                transform: translate(1em, -5em);
              }
            }
          }
        }
      }

      &__input-mail {
        &:focus {
          & ~ .main-mention__form-container__form__label-mail {
            transform: translate(1em, -5em);
          }
        }

        &:not(:placeholder-shown) {
          & ~ .main-mention__form-container__form__label-mail {
            transform: translate(1em, -5em);
          }
        }
      }

      &__input-text {
        border-radius: 1.6em;
        padding-left: 1em;
        padding-top: 1em;

        &:focus {
          & ~ .main-mention__form-container__form__label-text {
            transform: translate(1em, -13.3em);
          }
        }

        &:not(:placeholder-shown) {
          & ~ .main-mention__form-container__form__label-text {
            transform: translate(1em, -13.3em);
          }
        }
      }

      &__btn {
        cursor: pointer;
        display: block;
        margin: 0 auto 3em;
        font-family: "Loos Light", Arial, Helvetica, sans-serif;
        padding: .5em 1em .5em 1em;
        width: 10em;
        background-color: transparent;
        border: 3px solid white;
        border-radius: 10em;
        font-size: 1.2em;
        color: white;
        background-image: url("http://portfolio.test/wp-content/uploads/2024/06/btn-background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -100%;
        transition: .5s ease-in-out;
      }

      &__btn:hover {
        background-position-y: 25%;
        color: #004F32;
      }
    }

    &__form:after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: white;
      border-radius: 3em;
    }
  }

}

@import "contact-mediaqueries/contact-desktop";
