
.main {

  &__landing-contact {
    background-image: url("../images/background-forest.svg");
    background-repeat: no-repeat;
    background-position-x: -990px;
    background-size: cover;
    height: 120vh;

    &__title {
      font-family: "Loos Bold", Arial, Helvetica, sans-serif;
      font-size: 3em;
      color: #004F32;
      text-align: center;
      line-height: 1.125em;
      padding-top: 3.8em;
      margin-bottom: .5em;
    }

    &__div {
      text-align: center;
      margin-top: 16.5em;
    }
  }

  &__form {
    padding: 0 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;

    &__input, &__input-mail {
      padding: 1em 2em;
      width: calc(100% - 4em - 6px);
    }

    &__input, &__input-mail {
      font-family: "Loos Light", Arial, Helvetica, sans-serif;
      background-color: transparent;
      border: 3px solid #004F32;
      font-size: 1.2em;

      &::placeholder {
        opacity: 0;
      }

      &:focus {
        &::placeholder {
          opacity: .6;
        }

      }

      &:not(:placeholder-shown) {
        & ~ label {
          transform: translate(1em, -4.6em);
        }
      }
    }

    &__input {
      &:focus {
        & ~ .main__form__label {
          transform: translate(1em, -4.6em);
        }
      }
    }

    &__input-mail {
      &:focus {
        & ~ .main__form__label-mail {
          transform: translate(1em, -4.6em);
        }
      }
    }

    &__input-text {
      &:focus {
        & ~ .main__form__text {
          transform: translate(1em, -12em);
        }
      }
    }

    &__input, &__input-mail {
      border-radius: 10em;
    }

    &__text {
      border-radius: 1.6em;
    }

    &__label, &__label-text, &__label-mail {
      display: inline-block;
      transform: translate(1em, -2.6em);
      font-family: "Loos Light", Arial, Helvetica, sans-serif;
      font-size: 1.5em;
      color: #004F32;
      transition: 300ms ease-in-out;
    }

    &__btn {
      display: block;
      margin: 0 auto 3em;
      font-family: "Loos Light", Arial, Helvetica, sans-serif;
      padding: .5em 1em .5em 1em;
      width: 10em;
      background-color: transparent;
      border: 3px solid #004F32;
      border-radius: 10em;
      font-size: 1.2em;
      color: #004F32;;
    }
  }
}
