.footer {
  padding: 3em 1em;
  background-color: #004F32;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em 5em;

  &__section {
    &__title {
      font-family: "Loos Bold", Arial, Helvetica, sans-serif;
      font-size: 1.5em;
      padding-bottom: .8em;
    }

    &__list {
      font-family: "Loos Normal", Arial, Helvetica, sans-serif;
      font-size: 1.1em;

      &__item {
        margin-bottom: .5em;
        line-height: 1.5em;

        &__link, &__mail, &__nav {
          padding: .5em 1.5em .5em 0;
          font-family: "Loos Light", Arial, Helvetica, sans-serif;
          text-decoration: none;
          color: white;
          background-image: url("../images/sapin-blanc.svg");
          background-repeat: no-repeat;
          background-size: 1em;
          transition: .4s cubic-bezier(.41, 0, .34, .99);
        }

        &__nav {
          background-position: 6em;
        }

        &__link {
          background-position: 9.5em;
        }

        &__mail {
          background-position: 14em;
        }

        &__link:hover, &__mail:hover, &__nav:hover {
          background-position: right;
        }
      }
    }

    &__socials-list {
      display: flex;
      gap: 3em;
      &__item {
        &__insta-link, &__github-link, &__linkedin-link {
          display: inline-block;
          font-size: 3em;
          text-indent: -999px;
          overflow: hidden;
          background-repeat: no-repeat;
          width: 1em;
        }

        &__insta-link {
          background-image: url("../images/instagram_white.svg");
        }

        &__github-link {
          background-image: url("../images/github_white.svg");
        }

        &__linkedin-link {
          background-image: url("../images/linkedin_white.svg");
        }
      }
    }
  }

  #github-link {
    background-image: url("../images/instagram_white.svg");
  }
}

@import "footer-mediaqueries/footer-phone-tablette";