.main {
  &__landing-project {
    text-align: center;
    padding: 5em 1em 7em 1em;

    &__title, &__description {
      color: #004F32;
    }

    &__title {
      font-family: "Loos Bold", Arial, Helvetica, sans-serif;
      font-size: 3em;
      margin-bottom: .5em;
    }

    &__description {
      font-family: "Loos Normal", Arial, Helvetica, sans-serif;
      line-height: 1.2em;

      &__link {
        font-family: "Loos Medium", Arial, Helvetica, sans-serif;
        color: #004F32;
      }
    }
  }

  &__progression {
    padding: 2em 1em 2em 1em;
    background-color: #004F32;

    &__text-container {
      font-family: "Loos Normal", Arial, Helvetica, sans-serif;

      &__title {
        font-family: "Loos Bold", Arial, Helvetica, sans-serif;
        font-size: 2em;
        margin-bottom: .8em;
      }

      &__title, &__text, &__btn {
        color: white;
      }

      &__content {
        &__text {
          color: white;
        }

        &__image-container {
          display: none;

          &__image-item {
            border-radius: 2em;
            width: 100%;
          }
        }
      }
    }

    &__content {
      &__text {
        line-height: 1.2em;
        padding-bottom: 1em;

        &__step {
          padding-bottom: 2em;
          color: white;
        }

      }

      &__image-container {
        display: none;
        text-align: center;
      }
    }
  }

  &__galery {
    padding: 2em 1em 2em 1em;

    &__title {
      font-family: "Loos Bold", Arial, Helvetica, sans-serif;
      font-size: 2em;
      color: #004F32;
      margin-bottom: 1.2em;
    }

    &__images-grid {
      row-gap: 1em;
      margin-bottom: 1.5em;
      text-align: center;

      &__image1, &__image2, &__image3, &__image4, &__image5, &__stk-image-1, &__stk-image-2, &__stk-image-3, &__stk-image-4, &__stk-image-5 {
        width: 100%;
      }

      &__image1, &__image2, &__image3, &__image4, &__image5, &__stk-image-1, &__stk-image-2, &__stk-image-3, &__stk-image-4, &__stk-image-5, &__image-pyd-1, &__image-pyd-2, &__image-pyd-3, &__image-pyd-4, &__image-pyd-5, &__image-pyd-6 {
        border-radius: .5em;
        box-shadow: rgba(50, 50, 50, .5) 0 5px 10px;
      }

    }

    &__back-btn {
      font-family: "Loos Normal", Arial, Helvetica, sans-serif;
      color: #004F32;
      font-size: 1.2em;

      &__image {
        width: 3em;
        margin-right: .5em;
        transform: translateY(6px);
      }
    }
  }
}

@import "projet-details-mediaqueries/etapes-over-1200px";
@import "projet-details-mediaqueries/projet-cv/projet-cv-tablette";
@import "projet-details-mediaqueries/soundtrekker/soundtrekker-galrey-phone";
@import "projet-details-mediaqueries/soundtrekker/soundtrekker-galery-over799px";
@import "projet-details-mediaqueries/paint-your-day/paint-your-day-galery-phone";
@import "projet-details-mediaqueries/paint-your-day/paint-your-day-tablette";
@import "projet-details-mediaqueries/projet-sef/projet-sef";

