.screen-reader-response{
  display: none;
}

.wpcf7-not-valid-tip, .wpcf7-response-output{
  font-family: "Loos Normal", Arial, Helvetica, sans-serif;
  margin-top: 2em;
  color: #FFE26E;
}

.wpcf7-response-output{
  font-size: 2em;
}